* {
  font-family: 'Exo', sans-serif;
  border-radius: 2px;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('./images/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link,
a:visited,
a:active {
  color: #322039;
}

a:hover {
  color: #D2BFD8;
}

.row {
  background-color: #865597;
  opacity: 0.9;
}

.artist-string,
.song-string,
.search-button,
.search-form,
.container,
.search-history-container,
.similar-artists-history-container,
.wiki-result,
.wiki-footer,
.youtube-single-result, 
.shows-single-result, 
.similar-artists-single-result, 
.song-lyrics,
.search-history-entry,
.similar-artists-history-entry {
  border: 2px solid #432B4C;
}

.artist-string,
.song-string {
  background-color: #E1D5E5;
}

.search-button {
  background-color: #956AA4;
}

.site-logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.landing-header {
  padding: 10px;
}

.search-form {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.container,
.search-history-container,
.similar-artists-history-container
 {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-header {
  font-size: 25px;
  font-weight: bold;
}

.wiki-result,
.wiki-footer,
.youtube-single-result, 
.shows-single-result, 
.similar-artists-single-result, 
.song-lyrics,
.search-history-entry,
.similar-artists-history-entry
 {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #956AA4;
}

.wiki-footer-text {
  font-size: 20px;
}

.youtube-thumbnail {
  width: 100%;
}

.wiki-logo {
  float: right;
  width: 33px;
  height: 30px;
}

.youtube-logo {
  float: right;
  width: 71px;
  height: 30px;
}

.lyricsovh-logo {
  float: right;
  width: 195px;
  height: 30px;
}

.songkick-logo {
  float: right;
  width: 102px;
  height: 30px;
}

.similar-search-logo, .similar-songkick-logo {
  display: inline-block;
  width: 30px; 
  height: 30px;
}