* {
  font-family: 'Exo', sans-serif;
  border-radius: 10px;
}

body {
  background-color: black;
}

.row {
  background-color: slategray;
}

.search-form {
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  border: 2px solid black;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-header {
  font-size: 25px;
  font-weight: bold;
}

.wiki-result {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wiki-footer {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wiki-footer-text {
  font-size: 20px;
}

.youtube-single-result {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shows-single-result {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.similar-artists-single-result {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.song-lyrics {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.youtube-thumbnail {
  width: 100%;
}

.wiki-logo {
  display: inline-block;
  float: right;
  width: 33px;
  height: 30px;
}

.youtube-logo {
  display: inline-block;
  float: right;
  width: 71px;
  height: 30px;
}

.lyricsovh-logo {
  display: inline-block;
  float: right;
  width: 195px;
  height: 30px;
}

.songkick-logo {
  display: inline-block;
  float: right;
  width: 102px;
  height: 30px;
}